{% load static %}

<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />

    {% load i18n %}
    {% load account socialaccount %}

    <!--{% block head_title %}{% trans "Sign In" %}{% endblock %}-->

    {% block content %}

    <!--<h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}eqdACFign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}


    -->
    {% endblock %}
  </head>

  <body>
    <div class="screen-height-filler valign-wrapper">
      <div class="container row center">
        <div class="col m8 offset-m2 s12 white popup">
          <h2>Войти</h2>

          <div class="divider"></div>

          <div class="section">
            <form action="{% url 'account_login' %}" method="POST">
              {% csrf_token %}

              <div class="input-field">
                <input type="text" id="id_login" name="login" tabindex="1" required>
                <label for="login">Имя пользователя</label>
              </div>

              <div class="input-field">
                <input type="password" id="id_password" name="password" tabindex="2" required>
                <label for="password">Пароль</label>
              </div>

              <label>
                <input type="checkbox" id="id_remember" name="remember" tabindex="10">
                <span>Запомнить меня</span>
              </label>

              <div class="flex-toolbar">
                <a
                  href="{% url 'account_reset_password' %}"
                  class="btn-flat waves-effect waves-dark"
                  tabindex="3">{% trans "Забыли пароль?" %}
                </a>

                <button
                  class="btn-large waves-effect waves-light"
                  tabindex="4"
                  type="submit">{% trans "Войти" %}
                </button>
              </div>
            </form>
          </div>

          <div class="divider"></div>

          <div class="section flex-left">
            <a
              href="/accounts/signup"
              class="btn-flat waves-effect waves-dark"
              tabindex="5">Регистрация
            </a>
          </div>

          <div class="hide" id="errorTab">
            <div class="divider"></div>
            <p class="flow-text red-text">This is some error</p>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

    <script>
      let allErrors = '{{ form.errors.as_json }}'
      let data = JSON.parse(render(allErrors))

      let errorTab = document.getElementById('errorTab')
      let errorMessage = errorTab.querySelector('p')

      if (data['__all__'].length > 0) {
        errorMessage.innerHTML = data['__all__'][0]['message']
        errorTab.classList.remove('hide')
      }
    </script>
  </body>
</html>

