{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
    
    {% load i18n %}
    {% load account %}
</head>

    <body>
      <div class="screen-height-filler valign-wrapper">
        <div class="container row center">
          <div class="col m8 offset-m2 s12 white popup">
            <h2>Сброс пароля</h2>
  
            <div class="divider"></div>
            <div class="section center">
              <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                
                <div class="text_for_user">Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</div>
                
                <div>
                    {% csrf_token %}
                    <input type="email" name="email" id="id_email" placeholder="E-mail адрес" required />
                    <button 
                    class="btn-large waves-effect waves-light"
                    type="submit">{% trans 'Reset My Password' %}
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </body>

    {% block content %}
    <!--<h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->
    {% endblock %}
</html>



