{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
  

  {% load i18n %}
  

  {% block content %}
  
  <!--<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  -->

  {% endblock %}
</head>
<body>
  <div class="screen-height-filler valign-wrapper">
    <div class="container row center">
      <div class="col m8 offset-m2 s12 white popup">
        <h2>Зарегистироваться</h2>

        <div class="divider"></div>

        <div class="section">
          <form class="signup" id="signup_form" action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            
            <div class="input-field">
              <input type="email" id="id_email" name="email" tabindex="1" required>
              <label for="email">Email</label>
            </div>
            
            <div class="input-field">
              <input type="text" id="id_username" name="username" tabindex="2" minlength="3" maxlength="20"  required>
              <label for="login">Имя пользователя</label>
            </div>

            <div class="input-field">
              <input type="password" id="id_password1" name="password1" tabindex="3" required>
              <label for="password">Пароль</label>
            </div>

            <div class="input-field">
              <input type="password" id="id_password2" name="password2" tabindex="4" required>
              <label for="password">Пароль (ещё раз)</label>
            </div>

            
            <div class="section">
              <button
                class="btn-large waves-effect waves-light"
                tabindex="5"
                type="submit">{% trans "Зарегистироваться" %}
              </button>
            </div>

          </form>
          {{error_messages}}
        </div>

        <div class="divider"></div>

        <div class="flex-toolbar section">

          
          <div class="flow-text">Вы уже зарегистрированы?</div>
           

          
          <a
            href="/accounts/login"
            class="btn-large waves-effect waves-light"
            type="submit">{% trans "Войти" %}
        </a>
          
        </div>
          

        
      </div>
    </div>
  </div>

  <script src="{% static 'js/materialize.min.js' %}"></script>
</body>










</html>


