{% extends 'base.html' %} {% block content %}
      <div class="card #fafafa">
		<div class="card-content #212121">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
			<b>Электронная почта:</b> {{ email }} <br>
			<b>Имя:</b> {{name}} <br>
			<b>Фамилия:</b> {{vorname}} <br>
			<b>Отчество:</b> {{fname}} <br>
			<b>Должность:</b> {{position}} <br>
			<b>Возраст:</b> {{age}} <br>
			<b>Пол: </b>
			{% if gender == 0 %}
			Мужской <br>
			{% else %}
			Женский <br>
			{% endif %}
			<b>Стаж:</b> {{exp}} <br>
			{% if not isFull %}
			<a href="/accounts/changeform">Обновить данные</a>
			{% endif %}
		</div>
		<div class="card-action">
		</div>
	  </div>
{% endblock content %}
