/* fixing browser-related issues */

:focus {
    outline: none !important;
}


/* common initial settings */

body {
    background-color: #d0d0d0;
}


/* common reusable helpers */

.popup {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #a8a8a8;
}

.screen-height-filler {
    height: 100vh;
}

.flex-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}