{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Анализ</title>

        <link rel="stylesheet" href="{% static 'css/common.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style_analyse.css' %}" />
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
        <!-- <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}" /> -->

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="hat white-text row">
            <div class="col m3 s12 center">
                <a href="/">
                    <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                </a>
            </div>

            <div class="col m4 offset-m1 s12 valign-wrapper">
                <nav class="grey lighten-3 hat-search">
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" tabindex="1">
                                <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>

            <div class="col m4 s12 flex-right-toolbar hide-on-small-only">
                <a class="btn white black-text waves-effect waves-dark" href="{% url 'account_logout' %}">Выйти</a>
                <a class="btn white black-text waves-effect waves-dark" href="{% url 'tab_account' %}">Аккаунт</a>
            </div>

            <div class="col m4 s12 accurate-flex-toolbar hide-on-med-and-up">
                <a class="btn white black-text waves-effect waves-dark" href="{% url 'account_logout' %}">Выйти</a>
                <a class="btn white black-text waves-effect waves-dark" href="{% url 'tab_account' %}">Аккаунт</a>
            </div>
        </div>

        <div class="row">
            <div class="col l4 m12 row">
                <div class="col s12 chartik-popup">
                    <h5>Температурная модель</h5>
                    <table class="highlight centered">
                        <thead>
                            <tr>
                                <th>Корреляция</th>
                                <th>Скорость приближения к критическому значению</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="field-tcorr">tcorr</td>
                                <td id="field-tspeed">tspeed</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Вибрационная модель</h5>
                    <table class="highlight centered">
                        <thead>
                            <tr>
                                <th>Корреляция</th>
                                <th>Скорость приближения к критическому значению</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="field-vcorr">vcorr</td>
                                <td id="field-vspeed">vspeed</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Модель загруженности</h5>
                    <table class="highlight centered">
                        <thead>
                            <tr>
                                <th>Корреляция</th>
                                <th>Скорость приближения к критическому значению</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="field-lcorr">lcorr</td>
                                <td id="field-lspeed">lspeed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col l8 row">
                <div class="col s12">
                    <div class="row server-popups-board" id="server-buttons">

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table id="bottom-table" class="col s12 highlight centered chartik-popup">
                            <thead>
                                <tr>
                                    <th>Общая формула</th>
                                    <th>Корреляция</th>
                                    <th>Скорость</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td lang="latex">\sum_{i = 0}^{50} a_ix^i</td>
                                    <td id="field-mcorr">mcorr</td>
                                    <td id="field-mspeed">mspeed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- <script src="{% static 'js/Chart.bundle.min.js' %}"></script> -->
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src=" {% static 'js/latexit.js' %}"></script>

        <script>
            // LatexIT.add('p',true)
        </script>

        <script>
            function render(html) {
                let element = document.createElement('div')
                element.innerHTML = html
                return element.textContent
            }
        </script>

        <script>
            const serverButtons = document.getElementById('server-buttons')
            const infos = {}

            function addDeviceButton(device) {
                let temp = device.data.find(it => it.param == 'temp')
                let vibration = device.data.find(it => it.param == 'vibration')
                let load = device.data.find(it => it.param == 'load')

                let value = `
                    <div class="server-popup valign-wrapper">
                        <div class="info hide">
                            <div class="flex-toolbar">
                                <h5>Информация о Device #${device.device}</h5>
                                <a class="btn-floating waves-effect waves-dark white"><i class="material-icons black-text">close</i></a>
                            </div>

                            <table class="centered">
                                <thead>
                                    <tr>
                                        <th>Параметр</th>
                                        <th>Значение</th>
                                        <th>Корреляция</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Температура</td>
                                        <td>${temp.cur_value}</td>
                                        <td>${temp.piers}</td>
                                    </tr>
                                    <tr>
                                        <td>Вибрация</td>
                                        <td>${vibration.cur_value}</td>
                                        <td>${vibration.piers}</td>
                                    </tr>
                                    <tr>
                                        <td>Загруженность</td>
                                        <td>${load.cur_value}</td>
                                        <td>${load.piers}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="container center">
                            ${'Device #' + device.device}
                        </div>
                    </div>
                `

                let element = document.createElement('div')
                element.classList.add('col')
                element.classList.add('l3')
                element.classList.add('m4')
                element.classList.add('s12')
                element.innerHTML = value

                serverButtons.appendChild(element)

                const info = element.querySelector('.info')
                infos[device] = info

                const closeButton = info.querySelector('.btn-floating')

                closeButton.addEventListener('click', e => {
                    info.classList.add('hide')
                    e.stopPropagation()
                })

                const popup = element.querySelector('.server-popup')

                popup.addEventListener('click', e => {
                    for (let each in infos) {
                        infos[each].classList.add('hide')
                    }

                    info.classList.remove('hide')
                })
            }

            function configureServerButtons(data) {
                for (let each of data.devices) {
                    addDeviceButton(each)
                }
            }
        </script>

        <script>
            const fieldTcorr = document.getElementById('field-tcorr')
            const fieldTspeed = document.getElementById('field-tspeed')

            const fieldVcorr = document.getElementById('field-vcorr')
            const fieldVspeed = document.getElementById('field-vspeed')

            const fieldLcorr = document.getElementById('field-lcorr')
            const fieldLspeed = document.getElementById('field-lspeed')

            const fieldMcorr = document.getElementById('field-mcorr')
            const fieldMspeed = document.getElementById('field-mspeed')

            function configureTables(data) {
                fieldTcorr.innerHTML = data['tcorr']
                fieldTspeed.innerHTML = data['tspeed']

                fieldVcorr.innerHTML = data['vcorr']
                fieldVspeed.innerHTML = data['vspeed']

                fieldLcorr.innerHTML = data['lcorr']
                fieldLspeed.innerHTML = data['lspeed']

                fieldMcorr.innerHTML = data['mcorr']
                fieldMspeed.innerHTML = Math.abs(parseFloat(data['mspeed']))
            }
        </script>

        <script>
            const stats = render('{{ data }}')
            const data = JSON.parse(stats)
            console.log(data)

            configureTables(data)
            configureServerButtons(data)

            // const mainTable = document.getElementById('main-table')
            // const tbody = mainTable.querySelector('tbody')

            // for (let each of data) {
            //     if (each.data.length > 0) {
            //         let value = `
            //             <td>${'Device #' + each.device}</td>
            //             <td>${highlight(each.data[each.data.length - 1]['temp'] || 'OK')}</td>
            //             <td>${highlight(each.data[each.data.length - 1]['vibration'] || 'OK')}</td>
            //             <td>${highlight(each.data[each.data.length - 1]['power'] || 'OK')}</td>
            //             <td>${highlight(each.data[each.data.length - 1]['load'] || 'OK')}</td>
            //             <td>${highlight(each.data[each.data.length - 1]['time'] || 'OK')}</td>
            //         `

            //         let row = document.createElement('tr')
            //         row.innerHTML = value
            //         tbody.appendChild(row)
            //     }
            // }
        </script>
    </body>
</html>