{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <h1> Критическая телеметрия</h1>
    <a href="{% url 'telemetry_main' %}">Главная страница с телеметрией</a>
</head>
<body>
    {{ stats }}
    <script src="{% static '/js/registerSw.js' %}"></script>
</body>
</html>